In [1]:
#Dependencies
from tensorflow.keras.layers import LSTM
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Activation
from numpy import array
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
#Load Data
#VMW = pd.read_csv("VMW.csv")
#VMW = pd.read_csv("VMW2.csv")
#VMW
CSCO = pd.read_csv("CSCO.csv")
CSCO

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-11-13,33.860001,34.209999,33.830002,33.950001,30.978666,16441500
1,2017-11-14,33.860001,34.160000,33.799999,34.040001,31.060797,17468500
2,2017-11-15,33.970001,34.310001,33.750000,34.110001,31.124666,30829600
3,2017-11-16,36.040001,36.669998,35.830002,35.880001,32.739746,61177100
4,2017-11-17,35.900002,36.320000,35.810001,35.900002,32.758003,27988000
...,...,...,...,...,...,...,...
750,2020-11-05,37.020000,37.299999,36.910000,37.230000,37.230000,23149700
751,2020-11-06,37.560001,37.599998,37.080002,37.529999,37.529999,19475300
752,2020-11-09,39.919998,40.230000,38.119999,38.200001,38.200001,42649500
753,2020-11-10,38.209999,39.029999,38.169998,38.720001,38.720001,31514500
754,2020-11-11,39.009998,39.450001,38.439999,39.330002,39.330002,27332800

In [3]:
#Shape Data
CSCO_open = CSCO['Open'].to_numpy()
X = CSCO_open.reshape(-1,1)
print("Open shape")
print(np.shape(X))
CSCO_close = CSCO['Close'].to_numpy()
y = CSCO_close.reshape(-1,1)
print("Close shape")
print(np.shape(y))

Open shape
(755, 1)
Close shape
(755, 1)

In [4]:
X = X.reshape(1,755,1)
y = y.reshape(1,755,1)

In [5]:
#Define Model
model = Sequential()
model.add(LSTM(32))
model.add(Dense(1))
#model.add(Activation('sigmod'))

In [ ]:
#Compile model
model.compile(optimizer='sgd', loss='mean_squared_error', metrics=['mean_squared_error'])

In [ ]:
#Fit model
#model.fit(X, y, batch_size=10, epoch=100)
model.fit(
    X_train,
    y_train,
    batch_size=32,
    epochs=50,
    shuffle=True,
    verbose=2
)

In [ ]:
#Evaluate model
loss, accuracy = model.evaluate(X_train, y_train)

In [ ]:
#Make predictions
predictions = model.predict(X)

In [ ]:
predictions