In [1]:
import pandas as pd
import numpy as np
CSCO = pd.read_csv("CSCO.csv", date_parser=True)
CSCO

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-11-16,26.070000,27.000000,26.059999,26.790001,22.808805,44949600
1,2015-11-17,26.799999,27.270000,26.680000,26.809999,22.825829,30490200
2,2015-11-18,27.000000,27.160000,26.730000,27.120001,23.089760,27015700
3,2015-11-19,27.100000,27.650000,27.049999,27.370001,23.302610,27417400
4,2015-11-20,27.590000,27.780001,27.459999,27.570000,23.472891,26502800
...,...,...,...,...,...,...,...
1254,2020-11-09,39.919998,40.230000,38.119999,38.200001,38.200001,42649500
1255,2020-11-10,38.209999,39.029999,38.169998,38.720001,38.720001,31514500
1256,2020-11-11,39.009998,39.450001,38.439999,39.330002,39.330002,27332800
1257,2020-11-12,38.980000,39.389999,38.400002,38.669998,38.669998,29368300
1258,2020-11-13,41.200001,41.520000,40.560001,41.400002,41.400002,49106400

In [2]:
future_data = CSCO.tail(400)
#future_data = CSCO.head(19)
future_list = future_data["Close"].to_list()

In [3]:
future_input = np.array(future_list)

In [3]:
input_data = CSCO.tail(20)
input_list = input_data["Close"].to_list()
data_input = np.array(input_data)

In [4]:
#input_list

In [5]:
from numpy import array
from keras.models import Sequential
from keras.layers import Dense
from keras.preprocessing.sequence import TimeseriesGenerator
# define dataset
#series = array([1, 4, 3, 6, 5, 8, 7, 10, 9, 12,15, 14,17, 16, 19, 18, 21, 20, 23, 22, 25,24, 27, 26, 29, 28, 31, 30, 33, 32, 35])
series = array(future_list)
# define generator
n_input = 20
generator = TimeseriesGenerator(series, series, length=n_input, batch_size=8)
# define model
model2 = Sequential()
model2.add(Dense(100, activation='relu', input_dim=n_input))
model2.add(Dense(1))
model2.compile(optimizer='adam', loss='mse')
# fit model
model2.fit_generator(generator, steps_per_epoch=4, epochs=200, verbose=0)
x_input = array(input_list).reshape((1, 20))
yhat = model2.predict(x_input, verbose=2)
print(yhat)

Using TensorFlow backend.

[[38.45166]]

In [6]:
for x in range(12):
    import numpy as np
    yhat = np.squeeze(yhat)
    x_input=np.squeeze(x_input)
    x_input= np.append(x_input, yhat)
    x_input=np.delete(x_input, 0)
    x_input=x_input.reshape((1, n_input))
    yhat = model2.predict(x_input, verbose=0)
    print(yhat)

[[39.392326]]
[[38.631577]]
[[39.289093]]
[[39.030342]]
[[38.99375]]
[[39.09751]]
[[38.773888]]
[[38.77839]]
[[38.851723]]
[[38.904106]]
[[38.098045]]
[[38.81098]]

In [19]:
prediction_dates = pd.bdate_range(start='2020-11-06', end='2020-12-07')
#prediction_dates = pd.bdate_range(start='2020-15-10', end='2020-15-10')
list_dates = []
for i in prediction_dates:
    list_dates.append(i.strftime('%Y-%m-%d'))

In [20]:
len(prediction_dates)

22